:root{
    --color-primary : #003459;
    --white-color : #fff;
    --sreach-primary : #FDFDFD;
    --product-img : 264px;
    --background-white : #FDFDFD;
    --background-primary : #FCEED5;

}   
*{
    font-family: SVN-Gilroy;
   
}
.autogrid{
  padding-left: 86px;
    padding-right: 174px;
}
.btn{
    width:  151px;
    height:44px;
    top: 78px;;
    left: 1159px;;
    padding: 12px 28px 12px 28px;
    border-radius: 57px;
    gap: 8px;
    border: 2px solid #003459;
    background-color: #fff;
    color : #003459;
    font-size: 14px;
    cursor: pointer;
    
}
.ic{
  margin-left: 8px;
}
.bannerlayout{
    background-color: var(--background-white);
    width: 1210px;
    height: 378px;
    padding-top : 80px;
}
.bannerbox{
    background-color: var(--color-primary);
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    width: 1180px;
    justify-self: space-between; 
}
.bannerimg{
    width  : 513px;
    height: 342px;
    margin-top: 36px;
    margin-left: 20px; 
    flex: 1;
}
.pf{
    padding-left : 100px;
}


