.main{
    width : 1440px;
   
   background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);

}
#homepage{
  
}

#header-desktop{
    height: 100px;
    display: flex;
z-index: 1;
    align-items: center;
    text-align: center;
 
    position: fixed;
    padding : 0 100px 0 86px;
    background-color: var(--background-primary);
    box-shadow: 0px 2px 28px -2px #00000014;


}
.header-desktop__frame47{
    display: flex;
    justify-content: space-between; 
   

}
.header-desktop__logo{
    /* padding-left: 130px; */
    width : 115px;
    height : 40px;
    padding-right : 40px;
    /* background-image: url(/assest/IMG/header/Retangle/Rectangle\ 9.png); */
}
.header-desktop__navbar{
    display: flex;
    height : 24px;
    color: var(--color-primary);
    line-height: 24px;
}
.header-desktop__navbar-list{
    font-size: 16px;
    font-weight: 700;
    padding : 8px;
    margin-right: 48px;

}
.header-desktop__navbar-item{
    color : #003459;
}
.header-desktop__navbar-item:hover{
    color: #036ebb;
}
/*  search */
.header-desktop__frame46{
    display: flex;

}
.header-desktop__search{
    margin-right: 14px;
}
.header-desktop__search-icon{
    width :20px;
    height : 20px;
}
.header-desktop__search-input{
    border-radius: 46px;
    font-size: 14px;
    width : 280px;
    height : 44px;
    outline: none;
    border:solid #FDFDFD;

    text-align: center;
    

}
.header-desktop__btn{
    cursor: pointer;
    border-radius: 57px;
    gap: 10px;
    width: 203px;
    color: #FDFDFD;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    border: none;
    margin-right: 14px;
 
    background-color: #003459;
}
/* Country money */

.frame44-list{
    display: flex;
    font-size: 16px;
    cursor: pointer;
}
.frame44-item{
    color : #003459;
    padding-right : 4px;
}
.frame44-img{
    width: 21px;
    height: 21px;
    padding-right : 6px;

}
.frame44-icon{
    color : #003459;
    border: 2px;
   
}
/*  END NAV HEADER */
/* BEGIN HERRO BANNER .*/
#herro-banner{
    /* width: 1024px; */
    height : 611px;
    overflow: hidden;
}

.herro-banner__container-tittle{
    color: #003459;
    padding-top: 44px;
    margin-top: 100px;
}
.herro-banner__container-heading-1{
    font-weight: 800;
    font-size: 54px;
    line-height: 68px;
    margin: 0;
}
.herro-banner__container-heading-2{
   
      font-size: 42px;
      line-height: 60px;
      margin: 4px 0 24px 0;
}
.herro-banner__container-decription{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */

}
.herro-banner__container-btn__view{
    /* background: #003459; */
    color :#003459;
    /* border: 1.5px solid #003459 */
    height : 48px;

    border-radius : 57px;
    width: 161px;

    border: solid 2px #003459;   
     margin-right: 20px;
    
}
.herro-banner__container-btn{
    margin-top: 34px;
  
}

.herro-banner__container-btn__explore{
    background-color: #003459 !important;
    color : #fff !important;
    width: 161px;
    height : 48px;
    border-radius : 57px;
    border: solid 2px;
}

/* BEGIN HERRO BANNER RIGHT .*/

.herro-banner__container-banner{
float: right;
width: 59%;
}

.herro-banner__container-img__dog{
    background-image: url(/assest/IMG/header/Retangle/Rectangle\ 2.png);
    margin-top: 27px;
}
.header-desktop__frame47{
    background-image: url(/assest/IMG/header/Retangle/Rectangle\ 9.png);
}   
/* END BANNER */

/*  END HEADING */

/* Begin CATEGORY */
#category{
    height: 1015px;
    background-color: #FDFDFD;

}

.category-header{
    padding-top: 60px;

    display: flex;
    justify-content: space-between;

}

.category-topic__question{
    font-size: 16px;
}
.category-topic__tittle{
    margin : 2px 0 36px 0;
    color : #003459;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
/*  END CATEGORY HEADER */
/* BEGIN category product .*/
.category-container-product{
    /* margin-top: 36px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 80px;
}
.category-product{

    width: 280px;
    height: 390px;
    background: #FDFDFD;
    box-shadow: 0px 4px 28px -2px #00000014;
    padding :8px, 8px, 0px, 8px;
    border-radius: 12px;
    gap: 8px;
    margin: 28px 0 28px 0;
   

}
.category-product__img{
    width: var(--product-img);
    height: var(--product-img);
    border-radius: 16px;
    padding : 8px 8px 0 8px;
}
.category-product__img:hover{
    transition: ease-out .2s;
    transform : scale(1) rotate(2deg) ;
    cursor: pointer;
    flex: -1;

}
    
.category-product__info{
    margin-top: 8px;
    padding: 8px 8px 20px 8px;

}
.category-product__tittle{
    color : #00171F;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: block;
    display: -webkit-box;

    margin: 0 auto;


    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.category-product__tittle:hover{
    color: var(--color-primary);
}
.category-product__particularity{
    font-size: 12px;
    display: flex;
    color: #667479;
    line-height: 18px;
    padding : 4px 0 4px 0;
}
.category-product__particularity-info{
    font-weight: 500;
    display: flex;
 
}
.category-product__price{
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    float  : right;
}
.category-product__price:hover{
    color : red;
}
.category-product__particularity-info>p{
    font-weight: 700;
    padding-left: 6px;

}
.category-product__particularity__icon{
    padding: 0 4px 0 4px;
    font-weight: 500;
    font-size: 7px;
    line-height: unset !important;
}

/*  Banner PR .*/
.banner-pr-box{
    background-color: var(--background-white);
    width: 1210px;
    height: 378px;
    padding-top : 80px;
}
.banner-pr{
    background-color: var(--color-primary);
        
   
    display: flex;
    justify-self: space-between; 
} 
.banner-pr__img{
    width  : 513px;
    height: 342px;
    /* margin-top: 36px;
    margin-left: 20px;   */
    

}
.banner-pr-info__box{
    width: 68%;
    float: right;
    padding-top: 42px;
    padding-right: 100px;
}

.banner-pr-info{
    background-image: url(/assest/IMG/Banner/banner\ retangle.png);
    flex: 1;
 
    text-align: right;


}

.banner-pr-info__tittle{
    color: var(--color-primary);
}
.banner-pr-info__tittle:first-child{
    font-weight: 800;
    font-size: 52px;
    line-height: 50px;

}
.banner-pr-info__tittle:nth-child(2){
    font-weight: 700;
    font-size: 36px;
    margin: 2px 0 8px 0;
    line-height: 54px;

}

.banner-pr-info__decription{


    font-size : 14px;
    line-height: 22px;
    margin-bottom: 24px;
    font-weight: 500;

}
.banner-pr-info__button{
    margin-right: 76px; 
}
.banner-pr-info__btn:first-child{
    background-color: #FCEED5;
}
.banner-pr-info__btn:last-child{
    color : var(--background-white);
    background-color: var(--color-primary);
}
.banner-pr-info__btn>i{
    margin-left: 8px;
}
/*  END BANNER LOGO */
/* /////////////////////////////////////////////////////////////// */
/*  BEGIN  accessories */
#category-accessories{
    height: 1187px;
    background-color: #FDFDFD;

}

.category-accessories-header{
    padding-top: 60px;

    display: flex;
    justify-content: space-between;

}

.category-accessories-topic__question{
    font-size: 16px;
}
.category-accessories-topic__tittle{
    margin : 2px 0 36px 0;
    color : #003459;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
/*  END CATEGORY HEADER */
/* BEGIN category product .*/
.category-accessories-container-product{
    /* margin-top: 36px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.category-accessories-product{

    width: 280px;
    height: calc(446px + 4px) ;
    background: #FDFDFD;
    box-shadow: 0px 4px 28px -2px #00000014;
    padding :8px, 8px, 0px, 8px;
    border-radius: 12px;
    gap: 8px;
    margin: 28px 0 28px 0;
}
.category-accessories-footer__gift:hover span{
    text-decoration: underline;
    cursor  : pointer;
  
}

.category-accessories-product__img{
    width: var(--product-img);
    height: var(--product-img);
    border-radius: 16px;
    padding : 8px 8px 0 8px;
}
.category-accessories-product__img:hover{
    transition: ease-out .2s;
    transform : scale(1) rotate(2deg) ;
    cursor: pointer;

}
    
.category-accessories-product__info{
    margin-top: 8px;
    padding: 8px 8px 20px 8px;

}
.category-accessories-product__tittle{
    color : #00171F;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    display: block;
    display: -webkit-box;

    margin: 0 auto;


    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
   
}
.category-accessories-product__tittle:hover{
    color: var(--color-primary);
}
.category-accessories-product__particularity{
    font-size: 12px;
    display: flex;
    color: #667479;
    line-height: 18px;
    padding : 4px 0 4px 0;
}
.category-accessories-product__particularity-info{
    font-weight: 500;
    display: flex;
 
}
.category-accessories-product__price{
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    float  : right;
    margin-bottom: 10px;

}
.category-accessories-product__price:hover{
    color : red;
}
.category-accessories-product__particularity-info>p{
    font-weight: 700;
    padding-left: 6px;

}
.category-accessories-product__particularity__icon{
    padding: 0 4px 0 4px;
    font-weight: 500;
    font-size: 7px;
    line-height: unset !important;
}
/*  GIFT */
.category-accessories-footer__gift{
    width: 238px;
    height: 34px;
    display: flex;
    background-color: var(--background-primary);
   
    padding :2px 10px;
    line-height: 20px;
    align-items: center;
    border-radius: 8px;
    gap : 2px;
    
}
.category-accessories-footer__gift>img{
    width: 17.46px;
    height: 20px;

}
.category-accessories-footer__gift>i{
    padding : 7px 16px;
    font-size: 7px;
    width: 4px;
    opacity: .8;
    height: 4px;
}
.category-accessories-footer__gift>span{
    color: var(--color-primary);
    font-weight: 700;
}

/*  END PRODUCT ACCESSORIES */

/* BEGIN BRAND */
#brand{

    /* width: 1438px; */
    height: 251px;
    background-color: var(--background-white);
}
.brand-container{
    padding-top: 40px;
}
.brand-header{
    width: 1178px;
    height: 44px;
    display: flex;
    justify-content: space-between;
}
.brand-header__tittle-topic:first-child{
    font-size: 16px;
    line-height: 31px;
    font-weight: 500;
}
.brand-header__tittle-topic:nth-child(2){
    font-size: 24px;
    color: var(--color-primary);
    line-height: 36px;
    margin-left: 6px;
    font-weight: 700;

}
.brand-header__tittle{
    text-align: center;
    height: 36px;
}
.brand-header__button {
    width: 201px !important;
    height: 44px;
    font-size: 14px;    
    list-style: 20px;
    font-weight: 500;
    color: var(--color-primary);
    background-color: var(--background-primary);
}
.brand-header__button>i{
    padding-left: 9px;
}
.brand-logo{
    display: flex;
    width: 1180px;
    align-items: center;
    height: 112px;
    justify-content: space-between;
    
}
.brand-logo-list{
    width: 88px;
    height: 64px;
    gap : 10px;
    display: flex;
}
.brand-logo-list:nth-child(4){
    
    margin: 0px 37px 0 70px;

}
.brand-logo-list:nth-child(7){
    margin-left: 84px;
}
.brand-logo__img:hover{
    transition: ease .3s;
    transform: scale(1.1) rotate(3deg);
}
/* FINISHED BRAND LOGO */

/* BEGIN RELIEVE BANNER */
.relieve{
    
}
.relieve-container{
    width: 1180px;
    height: 378px;
    border-radius: 20px;
    background: #FFB775;

}
.relieve-info{
    /* padding : 30px 0 56px 30px; */
    padding-top: 84px;
   padding-left: 100px; 

    background-image: url(/assest/IMG/relieve/Rectangle\ 9.png) ;
    background-position: right;

}
.relieve-info__topic{
    font-weight: 800;
    font-size: 52px;  
    color: var(--color-primary);
    line-height: 68px;
}
.relieve-img{
    background-size:cover ;
    background-image: url(/assest/IMG/relieve/Rectangle\ 1.png);
}
.relieve-info__topic-img{
    width: 42px;
    height: 38px;

}
.relieve-info__tittle{
    font-weight: 700;
    font-size:36px;
    color: var(--color-primary);
    margin: 5px 0 18px 0;
}
.relieve-info__decription{
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color:  #242B33;
    margin-bottom: 42px;
    width  : 90%;
    
}
.relieve-info__button-btn:first-child{
    color: var(--background-white);
    background-color: var(--color-primary);
    margin-right: 20px;
}
.relieve-info__button-btn{

}
.relieve-info__button-icon{

}
.relieve-img>img{
    width: 538.53px;
    height: 358.79px;
    rotate: 1deg;
}
/* END RELIEVE BANNER */