.main{
    width : 1440px;
   background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);

}
#homepage{
   /* background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);    */
  
}

#header-desktop{
    height: 100px;
    display: flex;
    /* padding : 30px; */
    align-items: center;
    text-align: center;
    /* background-color: antiquewhite  ; */ 
    margin-left: 86px;

}
.header-desktop__frame47{
    display: flex;
    justify-content: space-between; 
   

}
.header-desktop__logo{
    /* padding-left: 130px; */
    width : 115px;
    height : 40px;
    padding-right : 40px;
    /* background-image: url(/assest/IMG/header/Retangle/Rectangle\ 9.png); */
}
.header-desktop__navbar{
    display: flex;
    height : 24px;
    color: var(--color-primary);
    color : #003459;
    line-height: 24px;
}
.header-desktop__navbar-list{
    font-size: 16px;
    font-weight: 700;
    padding : 8px;
    margin-right: 48px;

}
.header-desktop__navbar-item{


}
/*  search */
.header-desktop__frame46{
    display: flex;

}
.header-desktop__search{
    margin-right: 14px;
}
.header-desktop__search-icon{
    width :20px;
    height : 20px;
}
.header-desktop__search-input{
    border-radius: 46px;
    font-size: 14px;
    width : 280px;
    height : 44px;
    outline: none;
    border:solid #FDFDFD;

    text-align: center;
    

}
.header-desktop__btn{
 
    border-radius: 57px;
    gap: 10px;
    width: 203px;
    color: #FDFDFD;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    border: none;
    margin-right: 14px;
 
    background-color: #003459;
}
/* Country money */
.header-desktop_frame44{
   

}
.frame44-list{
    display: flex;
    font-size: 16px;
}
.frame44-item{
    color : #003459;
    padding-right : 4px;
}
.frame44-img{
    width: 21px;
    height: 21px;
    padding-right : 6px;

}
.frame44-icon{
    color : #003459;
    border: 2px;
   
}
/*  END NAV HEADER */
/* BEGIN HERRO BANNER .*/
#herro-banner{
    /* width: 1024px; */
    height : 611px;
    overflow: hidden;
}
.herro-banner__container{
    margin-left: 86px;
}
.herro-banner__container-tittle{
    color: #003459;
    padding-top: 44px;
}
.herro-banner__container-heading-1{
    font-weight: 800;
    font-size: 54px;
    line-height: 68px;
    margin: 0;
}
.herro-banner__container-heading-2{
   
      font-size: 42px;
      line-height: 60px;
      margin: 4px 0 24px 0;
}
.herro-banner__container-decription{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; */

}
.herro-banner__container-btn__view{
    /* background: #003459; */
    color :#003459;
    /* border: 1.5px solid #003459 */
    height : 48px;

    border-radius : 57px;
    width: 161px;
    border: #003459;
    border: solid 2px #003459;   
     margin-right: 20px;
    
}
.herro-banner__container-btn{
    margin-top: 34px;
  
}
.herro-banner__container-btn__view-icon{
}
.herro-banner__container-btn__explore{
    background: #003459;
    color : #fff;
    width: 161px;
    height : 48px;
    border-radius : 57px;
    border: solid 2px;


}

/* BEGIN HERRO BANNER RIGHT .*/

.herro-banner__container-banner{
float: right;
top: 0;
}

.herro-banner__container-img__dog{
    background-image: url(/assest/IMG/header/Retangle/Rectangle\ 2.png);
    
}
.header-desktop__frame47{
    background-image: url(/assest/IMG/header/Retangle/Rectangle\ 9.png);
}   
/* END BANNER */

/*  END HEADING */

/* Begin CATEGORY */
#category{
   
    height: 986px;
    background-color: #FDFDFD;
    padding-left: 86px;
    padding-right: 10%;

}

.category-header{
    padding-top: 60px;

    display: flex;
    justify-content: space-between;

}
.category-topic{
    
}
.category-topic__question{
    font-size: 16px;
}
.category-topic__tittle{
    margin : 2px 0 36px 0;
    color : #003459;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}
.category-header-view{

}
.category-header-view__btn{

}
.category-header-view__icon{

}
/*  END CATEGORY HEADER */
/* BEGIN category product .*/
.category-container-product{
    /* margin-top: 36px; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.category-product{

    width: 280px;
    height: 378px;
    background: #FDFDFD;
    box-shadow: 0px 4px 28px -2px #00000014;
    padding :8px, 8px, 0px, 8px;
    border-radius: 12px;
    gap: 8px;
    margin: 28px 0 28px 0;
   

}
.category-product__img{
    width: var(--product-img);
    height: var(--product-img);
    border-radius: 16px;
    padding : 8px 8px 0 8px;
}
.category-product__info{
    margin-top: 8px;
    padding: 8px 8px 20px 8px;

}
.category-product__tittle{
    color : #00171F;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.category-product__particularity{
    font-size: 12px;
    display: flex;
    color: #667479;
    line-height: 18px;
    padding : 4px 0 4px 0;
}
.category-product__particularity-info{
    font-weight: 500;
    display: flex;
 


}
.category-product__price{
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;



}
.category-product__particularity-info>p{
    font-weight: 700;
    padding-left: 6px;

}
.category-product__particularity__icon{
    padding: 0 4px 0 4px;
    font-weight: 500;
    font-size: 7px;
    line-height: unset !important;
}

.category-product__particularity-info__gene{


}
.category-product__particularity-info__age{

}