/*  PC */
@media (min-width : 1024px){ 
    .main{
        width: 1290px;
        background-color: #fdfdfd;
    }
    .autogrid{
        padding-right: 0;
    }
    body{
        /* background-color: #FCEED5; */
        width: 1358px;
    }
    #header-desktop{
        justify-content: space-between;
        
        width: 1290px;
        padding-right: 0;
    }
    .frame44-list{
        align-items: center;    
        /* margin: 20px; */
        font-size: 18px;
    }
    .header-desktop__frame46{
        align-items: center;
        margin-right: 90px;

    }
    .category-product{
        width: 280px;
    }
    .category-accessories-product{
        width: 280px;

    }
    #herro-banner{
    
    }
    #homepage{
        width: 1350px;
    }
    .banner-pr{
        width: 100%;
    } 
    .banner-pr-info{
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    .brand-header{
        width: 1204px;
    }
    #footer{
        width: 1265px;
        height: 480px;
    }
    
 
}
/*  MOBILE and TABLET */
@media (max-width :1023px){
  
   .header-desktop__navbar{
    display: none;
   }
   .mb-header-menu{
    position: relative;
}

.mb-header-menu__container{
    position: absolute;
    width: 350px;
    background-color: #fdfdfd;
    height: 800px;
    top: -22px;
    float: left;
    display: none;
    box-shadow: 0px 4px 28px -2px #00000014;
}
.open{
    display: block;
}
.mb-header-menu__list{
    padding : 10px 0;
}
.mb-header-menu__item{
    color: var(--color-primary);
    font-size: 24px;
    line-height: 1.4rem;
}
.mb-header-menu__back{
    width: 100%;
    height: 50px;
    background-color: var(--color-primary);
    color: #fff;
    margin-top: 20px;
}   
.mb-header__vaditation{

}
.mb-header-menu__nav{
    margin-top: 30px;
    border-top: 1px solid #667479;

}
.mb-header__vaditation-img{
    width: 100px;
    height: 100px;
    margin-top: 20px;

}
.mb-header__vaditation-box{
display: flex;
margin-top: 20px;
justify-content: space-between;
}

}
/*  TABLET */
@media ( min-width : 740px) and (max-width : 1023px ) {
    .relieve-img,
    .herro-banner__container-banner-mb,
    .mb-header-menu__container,
    .header-vadition,
    .header-desktop__logo,
    .banner-pr__img,
    .herro-banner__container-banner{
        display: none   ;
    }
    .herro-banner__container-banner{
        display: block;
    }
    .main{
        width: 768px;
    }
    .autogrid{
        padding : 0 16px;
    }
    #header-desktop{
        width: 740px;
        height: 75px;
        display: flex;
        justify-content: space-between;

        text-align: center;
        
    }
    .header-desktop__frame46{
        display: flex;
        justify-content: space-between;
    }
   
    .frame44-list{
        align-items: center;    
        font-size: 18px;
    }
   
    .mb-header-menu{
        display: block;
        position: relative;
    }
    
    #category{
        height: 1900px;
    }
    .banner-pr-box{
        width: 740px;
    }
    .banner-pr {
        width: 740px;

    }
    
    .banner-pr-info{
        background: unset;
        text-align: center;
        height: 330px;
    }
    .banner-pr{
        background-color: var(--background-primary);
    }
    #category-accessories{
        height: 2200px;
    }
    .brand-header,
    .brand-header,
    .brand-logo
    {
        width: 740px;
    }
    .brand-logo-list:nth-child(2),
    .brand-logo-list:nth-child(3),
    .brand-logo-list:nth-child(6){
        display: none;
    }
    .brand-logo__img{
        width: 89px;
    }
    .bannerbox{
        width: 740px;
    }
    .relieve-info{
        padding-left: 200px;
    }
    #pageread{
        width: 740px;
        height : 1000px;
    }
    .cardblog-box{
        width: 340px;
        margin: 0 25px 20px 0;
       
    }
      .cardblog-box:last-child{
        width: 96%;
        height: 300px;
       
    }
    .cardblog-img{
        width: 96%;

    }
    #footer{
        height: 1000px;
        width: 740px;
        padding: 14px;
    }
    .footer-connect{
        width: 740px;

    }
    .footer-subcribe{
        height: 200px;
    }
    .footer-subcribe{
        display: block;
    }
    .footer-subcribe__tittle{
        align-items: center;
        text-align: center;
    }
    .footer-subcribe__list{
        width: 700px;
        margin: 16px;
        padding: 0;
    }
    .footer-subcribe__input{
        margin-left: 10px;
    }
    .footer-subcribe__tittle{
        margin: 0;
        padding: 16px;
    }
    .footer-contact{
        display: block;
    }
   
    .footer-contact__nav{
       display: none;

    }
    .footer-contact__social{
        justify-content: center;
        display: flex;
        margin-left: 100px;

    }
    .footer-bottom{
        width: 100%;

    }
    .footer-bottom__privacy{
        margin-right: 25px;

    }
    .mb-header-menu__container{
        position: absolute;
        display: block;
    }
    .mb-header-menu__container{
        top: -30px;
        left: -16px;
        display: none;
    }
    .open{
        display: block;
    }


}

/* MOBILE */
@media (max-width : 414px){
    .main{
        width: 414px;
    }
     .header-desktop__navbar,
    .header-desktop__search-input,    
    .header-desktop__btn,
    .header-vadition,
    .category-header-view,
    .frame44-list,
   .header-desktop__navbar,
    #category-accessories,
    #brand,
    .relieve ,
    .pageread-header__button,
    .footer-bottom__logo,
    .footer-bottom__coppyright,
    .herro-banner__container-banner{
        display: none;
    }
    .category-container-product{
        padding-bottom: 16px;
    }
    .category-header-view-mb{
        display: block;
    }
    .category-header-view__btn-mb{
        height: 48px;
        width: 382px;

    }
    
    .mb{
        display: block;
    }
    #homepage{
        width: 414px;
    }
    #herro-banner{
        height: 794px;
        padding-left: 16px;
        padding-right: 16px;
    width: 375px;

    }
    
    .herro-banner__container-banner{
        display: none;
    }
    .herro-banner__container-banner-mb{
       display: block;
       height: 386px;
    }
    .herro-banner__container-heading-1{
        font-size: 46px;
    }
    .herro-banner__container-banner{
        /* display: none; */
    }
    .herro-banner__container-img__dog-mb{
        width: 414px;
        height: 386px;
        float: right;
        background-size: cover;
        background-image: url(/assest/IMG/header/Retangle/Rectangle\ 2.png)  ;
    }
  
    .banner-pr-info{
        background-image: none;
    }
    .autogrid{
        padding: 0;
    }
    .main {
        /* padding-left: 16px;
        padding-right: 16px; */
        padding-left: 1;
    }
    .header-desktop__search-box>i{
        color: #000;
        font-size: 20px;
        background-color: unset;
        margin-right: -15px;
    }
    #header-desktop{
        height: 75px;
        display: flex;
        justify-content: space-between;
        width: 414px;
        text-align: center;
    }
    .header-desktop__search-box{
        width: 0;
    }
    .herro-banner__container-heading-2{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .mb-header-menu{
        display: block;
    }
    .header-desktop__logo{
        padding-right: 0;
        margin: 0 70px;
    }
    .mb-header-menu__bar{
        align-items: center;
        display: flex !important;
        text-align: center;
        justify-content: center;
    }
    .mb-header-menu__bar{
        width: 32px;
        height: 32px;
        display: flex;
        text-align: c;
        align-items: center;
    }
    /* CATEGORY */ 
    .category-product{
        width: 185px;
        height: 317px;

    }
    .category-product__img{
        width: 169px;
        height: 169px;
    }
    .category-product{
        margin: 6px 0;
    }
    .banner-pr-box{
        width: 382px;
        height: 640px;
        border-radius: 20px;
    }
    .banner-pr{
        width: 382px;

        height: 1640px;
        background-color: unset;
    }
    #category{
        height: 1590px;
        width: 382px;
      

    }
    .banner-pr__img{
        display: none;
    }
    .banner-pr__img-mb{
        width: 382px;
        height: 349px;
        display: block;
        background-color: var(--color-primary);
        /* background-image: url(/assest/IMG/Banner/banner\ retangle.png); */
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;

    }
    .bannerimg{
        margin-left: 0;
    }
    .banner-pr-info__tittle:first-child{
        font-size: 36px;
    }
    .banner-pr-info__tittle:nth-child(2){
        font-size: 24px;
    }
    .banner-pr-info__box{
        padding: 0;
    }
    .banner-pr-info__button{
        height: 285px;
        /* background-color: var(--background-primary); */
    }
    .banner-pr-info{
        text-align: center;
        padding-top: 30px;
        /* background: url(/assest/IMG/Banner/banner\ retangle.png); */
        /* background-size: cover; */
        background-color: var(--background-primary );
    }
    .banner-pr-info__decription{
        padding : 0 15px;
        font-weight: 500;
    }
    .bannerimg{
        margin-top: 0;
    }
    .banner-pr-info__button{
        margin-right: 0;
        background-color: r;
    }
    .banner-pr-info__box{
        float: left;
        width: 382px;
    }
    .bannerbox{
        display: block;
    }
    #pageread{
        width: 100%;
        margin-top: 40px;
        height: 1500px;
    }
    .pageread-header__button-mb{
        height: 48px;
        width: 382px;
    }
    #footer{
        width: calc(100% + 14px);
        margin-top: 40px;
        height: 700px;
    }
    .footer-subcribe{
        width: 392px;
        height: 260px;
    }
    .footer-subcribe__list{
        width: 350px;
        height: 132px;
        display: block;
        margin: 10px;
        margin-top: 0;
    
    }
    .footer-subcribe{
        display: block;
        /* margin: 16px; */
    }
    .footer-subcribe__tittle{
        padding: 16px;
        flex: 1;
        text-align: center;
        margin: 0;
    }
    .footer-subcribe__input{
        width: 342px;
        margin: 12px 0 ;
    }
    .footer-subcribe__button{
        
        width: 355px;
    }
    .footer-connect{
        width: 414px;
    }
    .footer-bottom{
        width: 414px;
        padding-top: 100px;
        display: block;
    }
    .footer-contact{
        flex-wrap: wrap;
        height  :100px;
    }
    .footer-connect{
        border: none;
    }
    .footer-contact__nav{
        width: 382px;
        margin: 0 10px;
    }
    .footer-contact__social{
        width: 414px;
        /* margin-top: 30px; */
        display: flex;
        justify-content: center;
    }
    .footer-bottom__logo-mb{
       display: block;
   
    }
   
    .footer-bottom__logo-link{
        justify-content: center;
        display: flex;
      
        width: 390px;
    }
    .footer-bottom__privacy{
        margin: 30px 0 10px 0;
    }
   .footer-bottom__coppyright-mb{
        display: flex;
        font-weight: 500;
        color: #667479;
        font-size: 14px;
        justify-content: center;
   }
 /* /////////// */
    .footer-contact,
    #pageread,
    #category  {
        margin-left: 16px;
        margin-right: 16px;
    }
    .banner-pr-box{
        margin-right: 15px;
        margin-left: 15px;
    }
    #pageread{
        width : 390px;
    }
    .footer-subcribe{
        margin-left: 12px;
    }
    .mb-header-menu{
        position: relative;
    }

    .mb-header-menu__container{
        position: absolute;
        width: 350px;
        background-color: #fdfdfd;
        height: 800px;
        top: -22px;
        float: left;
        display: none;
        box-shadow: 0px 4px 28px -2px #00000014;
    }
    .open{
        display: block;
    }
    .mb-header-menu__list{
        padding : 10px 0;
    }
    .mb-header-menu__item{
        color: var(--color-primary);
        font-size: 24px;
        line-height: 1.4rem;
    }
    .mb-header-menu__back{
        width: 100%;
        height: 50px;
        background-color: var(--color-primary);
        color: #fff;
        margin-top: 20px;
    }   
    .mb-header__vaditation{

    }
    .mb-header-menu__nav{
        margin-top: 30px;
        border-top: 1px solid #667479;

    }
    .mb-header__vaditation-img{
        width: 100px;
        height: 100px;
        margin-top: 20px;

    }
   .mb-header__vaditation-box{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
   }
}